<footer class="page-footer pt-2">
    <!-- Footer Links -->
    <div class="container text-center text-md-left py-5">
        <div class="row small pt-5 pt-md-0">
            <div class="col-md-3">
                <a class="navbar-brand pb-5 pt-0" href="#"><img src="storage/app/media/layout/werise_logo_orange.svg" alt="" width="120px" height="35px"></a>
                <p class="pt-2">info@werise.dev</p>
                <a href="" class="py-2">+421 917 562 384</a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 mt-4 mt-md-0">
                        <p class="text-primary font-secondary font-weight-bold text-uppercase pb-3">NAŠE SLUŽBY</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled color-black">
                                    <li class="py-1">
                                        <a href="#">Webové aplikácie</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">Wordpress</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">E-shop</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">Grafický dizajn</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled color-black">
                                    <li class="py-1">
                                        <a href="#">Digitálna stratégia</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">Sociálne siete</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">SEO</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">PPC</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4 mt-md-0">
                        <p class="text-primary font-secondary font-weight-bold text-uppercase pb-3">WERISE</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled color-black">
                                    <li class="py-1">
                                        <a href="#">O nás</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">Cenník</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">Referencie</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled color-black">
                                    <li class="py-1">
                                        <a href="#">Kontakt</a>
                                    </li>
                                    <li class="py-1">
                                        <a href="#">Ochrana osobných údajov</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4 mt-md-0">
                        <p class="text-primary font-secondary font-weight-bold text-uppercase pb-3">NÁJDETE NÁS</p>
                        <div class="row">
                            <a href="#" class="footer-social ml-md-3 ml-auto"><img src="storage/app/media/icons/facebook.svg" alt=""></a>
                            <a href="#" class="footer-social"><img src="storage/app/media/icons/instagram.svg" alt=""></a>
                            <a href="#" class="footer-social mr-auto"><img src="storage/app/media/icons/linkedin.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        WeRise © 2020
    </div>
    <!-- Copyright -->
</footer>
