<!-- ......... HEADER .........-->

<main class="hero w-100">
    <!--    <img src="assets/img/hero_bg.svg" class="hero-bg d-xl-block d-none" alt="">-->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="hero-bg d-xl-block d-none" width="1008.174" height="752.598" viewBox="0 0 1008.174 752.598">
        <defs>
            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="0.437" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#f12711"/>
                <stop offset="1" stop-color="tomato"/>
            </linearGradient>
        </defs>
        <path id="Path_961" data-name="Path 961" d="M-2718.889,872.654c-326.879-11.8-418.951-55.529-488.871-192.993s-101.727-176.31-162.333-202.422,16.246,2.767-190.528-65.911-162.451-291.272-162.451-291.272h1004.183Z" transform="translate(3727.063 -120.056)" opacity="1" fill="url(#linear-gradient)"/>
    </svg>

    <div class="container h-100">
        <div class="row align-content-center mx-auto h-100">
            <div class="col-lg-5 text-center order-lg-1 order-2 text-lg-left my-auto">
                <h1><span class="font-secondary font-weight-light">Webové aplikácie</span><br>pre vás na mieru</h1>
                <p class="text-muted text-left ml-lg-0 mr-lg-4 mx-sm-5 py-3">Sme webová agentúra, ktorá vám pripraví všetko pre váš web. Od dizajnu až po jeho propagáciu.</p>
                <div class="py-4">
                    <button class="btn btn-primary" href="#">NAŠE SLUŽBY</button>
                </div>
            </div>
            <div class="col-lg-7 my-lg-auto order-lg-2 my-5 pt-5 pt-lg-0 order-1">
                <!--                <img src="assets/img/hero_img.svg" alt="" class="h-100 w-100">-->
                <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid" width="819.75" height="513.637" viewBox="0 0 819.75 513.637">
                    <g id="undraw_content_team_3epn" transform="translate(2.679 0)">

                        <g id="laptop">
                            <path id="Path_937" data-name="Path 937"
                                  d="M944.923,722.728H254.169a23.161,23.161,0,0,1-23.161-23.161h0q375.6-43.652,737.075,0h0A23.161,23.161,0,0,1,944.923,722.728Z"
                                  transform="translate(-165.78 -209.092)" fill="#ccc" />
                            <path id="Path_938" data-name="Path 938"
                                  d="M968.081,665.73l-737.073-1.363,85.424-143.736.409-.681V203.171a29.277,29.277,0,0,1,29.281-29.279H848.885a29.277,29.277,0,0,1,29.279,29.281V522.13Z"
                                  transform="translate(-165.78 -173.893)" fill="#e6e6e6" />
                            <path id="Path_939" data-name="Path 939"
                                  d="M353.332,195.864a9.548,9.548,0,0,0-9.537,9.537V494.237a9.548,9.548,0,0,0,9.537,9.537H861.519a9.548,9.548,0,0,0,9.537-9.537V205.4a9.548,9.548,0,0,0-9.537-9.537Z"
                                  transform="translate(-173.659 -175.428)" fill="#fff" />
                            <path id="Path_940" data-name="Path 940"
                                  d="M355.355,567.913a4.1,4.1,0,0,0-3.713,2.379L325.32,627.514a4.087,4.087,0,0,0,3.713,5.8H882.568a4.087,4.087,0,0,0,3.655-5.915l-28.611-57.222a4.067,4.067,0,0,0-3.655-2.259Z"
                                  transform="translate(-172.343 -201.419)" fill="#ccc" />
                            <circle id="Ellipse_6877" data-name="Ellipse 6877" cx="6.131" cy="6.131" r="6.131"
                                    transform="translate(425.591 3.406)" fill="#fff" />
                            <path id="Path_941" data-name="Path 941"
                                  d="M565.731,649.94a4.093,4.093,0,0,0-3.946,3.024l-6.6,24.524a4.087,4.087,0,0,0,3.946,5.15H684.7a4.087,4.087,0,0,0,3.861-5.424l-8.489-24.524a4.089,4.089,0,0,0-3.862-2.75Z"
                                  transform="translate(-188.417 -207.149)" fill="#ccc" />
                            <path id="Path_942" data-name="Path 942" d="M723.9,366.922v5.451H162.169l.422-.682v-4.769Z"
                                  transform="translate(-11.516 -25.633)" fill="#ccc" />
                            <path id="Path_943" data-name="Path 943"
                                  d="M852.031,554.237a1,1,0,0,0-.961.736l-1.608,5.972a1,1,0,0,0,.961,1.254H881a1,1,0,0,0,.94-1.321l-2.067-5.972a1,1,0,0,0-.941-.67Z"
                                  transform="translate(-208.983 -200.464)" fill="#ccc" />
                            <path id="Path_944" data-name="Path 944"
                                  d="M804.031,554.237a1,1,0,0,0-.961.736l-1.608,5.972a1,1,0,0,0,.961,1.254H833a1,1,0,0,0,.94-1.321l-2.067-5.972a1,1,0,0,0-.941-.67Z"
                                  transform="translate(-205.63 -200.464)" fill="#ccc" />
                        </g>
                        <g id="animation-loop">
                            <g id="worker-with-ledder" class="animation-set">
                                <path id="Path_945" data-name="Path 945"
                                      d="M660.241,570.973h2.4l-4.793-320.329h-2.4l.1,6.391H601.831l.1-6.391h-2.4l-4.793,320.329h2.4l.311-20.769H659.93Zm-3.454-230.861h-56.2l.586-39.142H656.2Zm.036,2.4.586,39.142H599.967l.586-39.142Zm.622,41.539.586,39.142H599.345l.586-39.142Zm.622,41.539.586,39.142H598.724l.586-39.142Zm.622,41.539.586,39.142H598.1l.586-39.142ZM655.58,259.431l.586,39.142H601.21l.586-39.142Zm-58.1,288.376.586-39.142h61.243l.586,39.142Z"
                                      transform="translate(-191.19 -179.255)" fill="#3f3d56" />
                                <g id="ledder-worker">
                                    <circle id="Ellipse_6878" data-name="Ellipse 6878" cx="39.077" cy="39.077" r="39.077"
                                            transform="translate(386.548 103.567)" fill="#2f2e41" />
                                    <rect id="Rectangle_222" data-name="Rectangle 222" width="11.872" height="21.27"
                                          transform="translate(436.931 171.767) rotate(-10.261)" fill="#2f2e41" />
                                    <rect id="Rectangle_223" data-name="Rectangle 223" width="11.872" height="21.27"
                                          transform="translate(413.567 175.997) rotate(-10.261)" fill="#2f2e41" />
                                    <ellipse id="Ellipse_6879" data-name="Ellipse 6879" cx="9.893" cy="3.71" rx="9.893" ry="3.71"
                                             transform="matrix(0.763, -0.646, 0.646, 0.763, 411.212, 202.061)" fill="#2f2e41" />
                                    <ellipse id="Ellipse_6880" data-name="Ellipse 6880" cx="9.893" cy="3.71" rx="9.893" ry="3.71"
                                             transform="matrix(0.763, -0.646, 0.646, 0.763, 434.089, 197.92)" fill="#2f2e41" />
                                    <g id="ledder-worker-eye">
                                        <circle id="Ellipse_6881" data-name="Ellipse 6881" cx="13.356" cy="13.356" r="13.356"
                                                transform="translate(409.534 119.73)" fill="#fff" />
                                        <circle id="Ellipse_6882" data-name="Ellipse 6882" cx="4.452" cy="4.452" r="4.452"
                                                transform="translate(412.949 123.846)" fill="#3f3d56" />
                                    </g>
                                    <path id="Path_946" data-name="Path 946"
                                          d="M647.271,279.487c.588-14.467-11.881-26.721-27.849-27.369s-29.39,10.553-29.977,25.02,10.512,17.754,26.481,18.4S646.683,293.955,647.271,279.487Z"
                                          transform="translate(-190.819 -179.356)" fill="tomato" />
                                    <g id="ledder-wave" class="animation-loop">
                                        <ellipse id="Ellipse_6883" data-name="Ellipse 6883" cx="6.134" cy="19.539" rx="6.134"
                                                 ry="19.539" transform="matrix(0.223, -0.975, 0.975, 0.223, 369.126, 137.138)"
                                                 fill="#2f2e41" />
                                    </g>
                                    <ellipse id="Ellipse_6884" data-name="Ellipse 6884" cx="6.134" cy="19.539" rx="6.134"
                                             ry="19.539" transform="matrix(0.223, -0.975, 0.975, 0.223, 445.834, 149.895)"
                                             fill="#2f2e41" />
                                    <path id="Path_947" data-name="Path 947"
                                          d="M628.687,343.458a8.9,8.9,0,1,1-17.519,3.189l0-.017c-.876-4.839,2.865-6.551,7.7-7.427S627.811,338.62,628.687,343.458Z"
                                          transform="translate(-192.329 -185.414)" fill="#fff" />
                                </g>
                            </g>

                            <g id="two-workers-with-block" class="animation-set">
                                <circle id="Ellipse_6890" data-name="Ellipse 6890" cx="40.059" cy="40.059" r="40.059"
                                        transform="translate(36.864 303.873)" fill="#2f2e41" />
                                <rect id="Rectangle_226" data-name="Rectangle 226" width="12.17" height="21.804"
                                      transform="translate(58.668 375.37)" fill="#2f2e41" />
                                <rect id="Rectangle_227" data-name="Rectangle 227" width="12.17" height="21.804"
                                      transform="translate(83.007 375.37)" fill="#2f2e41" />
                                <ellipse id="Ellipse_6891" data-name="Ellipse 6891" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                         transform="translate(58.668 393.624)" fill="#2f2e41" />
                                <ellipse id="Ellipse_6892" data-name="Ellipse 6892" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                         transform="translate(83.007 393.117)" fill="#2f2e41" />
                                <circle id="Ellipse_6893" data-name="Ellipse 6893" cx="13.691" cy="13.691" r="13.691"
                                        transform="translate(64.245 320.099)" fill="#fff" />
                                <circle id="Ellipse_6894" data-name="Ellipse 6894" cx="4.564" cy="4.564" r="4.564"
                                        transform="translate(73.373 329.226)" fill="#3f3d56" />
                                <path id="Path_949" data-name="Path 949"
                                      d="M201.76,501.089c-3.235-14.486,7.105-29.123,23.094-32.693s31.573,5.279,34.807,19.764-7.362,19.828-23.351,23.4S204.994,515.575,201.76,501.089Z"
                                      transform="translate(-163.695 -194.411)" fill="#e6e6e6" />
                                <g id="wave" class="animation-loop">
                                    <ellipse id="Ellipse_6895" data-name="Ellipse 6895" cx="20.029" cy="6.288" rx="20.029"
                                             ry="6.288" transform="matrix(0.357, -0.934, 0.934, 0.357, 87.232, 215.041)"
                                             fill="#2f2e41" />
                                </g>
                                <circle id="Ellipse_6896" data-name="Ellipse 6896" cx="40.059" cy="40.059" r="40.059"
                                        transform="translate(17.273 261.95) rotate(-80.783)" fill="#2f2e41" />
                                <rect id="Rectangle_228" data-name="Rectangle 228" width="12.17" height="21.804"
                                      transform="translate(44.977 260.264)" fill="#2f2e41" />
                                <rect id="Rectangle_229" data-name="Rectangle 229" width="12.17" height="21.804"
                                      transform="translate(69.316 260.264)" fill="#2f2e41" />
                                <ellipse id="Ellipse_6897" data-name="Ellipse 6897" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                         transform="translate(44.977 278.519)" fill="#2f2e41" />
                                <ellipse id="Ellipse_6898" data-name="Ellipse 6898" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                         transform="translate(69.316 278.013)" fill="#2f2e41" />
                                <circle id="Ellipse_6899" data-name="Ellipse 6899" cx="13.691" cy="13.691" r="13.691"
                                        transform="translate(50.554 204.994)" fill="#fff" />
                                <circle id="Ellipse_6900" data-name="Ellipse 6900" cx="4.564" cy="4.564" r="4.564"
                                        transform="translate(59.682 214.121)" fill="#3f3d56" />
                                <path id="Path_950" data-name="Path 950"
                                      d="M187.041,377.339c-3.235-14.486,7.105-29.123,23.094-32.693s31.573,5.279,34.807,19.764-7.362,19.828-23.351,23.4S190.275,391.825,187.041,377.339Z"
                                      transform="translate(-162.667 -185.766)" fill="tomato" />
                                <ellipse id="Ellipse_6901" data-name="Ellipse 6901" cx="6.288" cy="20.029" rx="6.288" ry="20.029"
                                         transform="translate(-2.679 207.337) rotate(-64.626)" fill="#2f2e41" />
                                <path id="Path_951" data-name="Path 951"
                                      d="M207.707,435.077c0,3.921,10.1,11.663,21.3,11.663s21.7-11.038,21.7-14.959-10.5.761-21.7.761S207.707,431.156,207.707,435.077Z"
                                      transform="translate(-164.152 -191.799)" fill="#fff" />
                                <g id="card" class="animation-loop">
                                    <path id="Path_952" data-name="Path 952"
                                          d="M270.994,255.461a2.793,2.793,0,0,0-2.79,2.79V373.589a2.793,2.793,0,0,0,2.79,2.79h266.95a2.794,2.794,0,0,0,2.79-2.79V258.251a2.794,2.794,0,0,0-2.79-2.79Z"
                                          transform="translate(-168.379 -179.591)" fill="tomato" />
                                    <circle id="Ellipse_6902" data-name="Ellipse 6902" cx="27.087" cy="27.087" r="27.087"
                                            transform="translate(147.609 109.243)" fill="#fff" />
                                    <path id="Path_40" data-name="Path 40"
                                          d="M414.185,316.587a3.167,3.167,0,1,0,0,6.334h85.522a3.167,3.167,0,1,0,.1-6.334H414.185Z"
                                          transform="translate(-178.356 -183.861)" fill="#fff" />
                                    <path id="Path_40-2" data-name="Path 40"
                                          d="M414.185,296.86a3.167,3.167,0,1,0,0,6.334h42.708a3.167,3.167,0,1,0,.1-6.334H414.185Z"
                                          transform="translate(-178.356 -182.483)" fill="#fff" />
                                    <path id="Path_40-3" data-name="Path 40"
                                          d="M414.185,337.253a3.167,3.167,0,1,0,0,6.334h85.522a3.167,3.167,0,1,0,.1-6.334H414.185Z"
                                          transform="translate(-178.356 -185.305)" fill="#fff" />
                                </g>
                            </g>
                        </g>
                        <g id="worker-turned-back" class="animation-set">
                            <g id="move-hand" class="animation-loop">
                                <ellipse id="Ellipse_6885" data-name="Ellipse 6885" cx="20.029" cy="6.288" rx="20.029" ry="6.288"
                                         transform="matrix(0.357, -0.934, 0.934, 0.357, 274.373, 289.586)" fill="#2f2e41" />
                            </g>
                            <circle id="Ellipse_6886" data-name="Ellipse 6886" cx="40.059" cy="40.059" r="40.059"
                                    transform="translate(204.415 336.493) rotate(-80.783)" fill="#2f2e41" />
                            <rect id="Rectangle_224" data-name="Rectangle 224" width="12.17" height="21.804"
                                  transform="translate(232.118 334.808)" fill="#2f2e41" />
                            <rect id="Rectangle_225" data-name="Rectangle 225" width="12.17" height="21.804"
                                  transform="translate(256.458 334.808)" fill="#2f2e41" />
                            <ellipse id="Ellipse_6887" data-name="Ellipse 6887" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                     transform="translate(232.118 353.064)" fill="#2f2e41" />
                            <ellipse id="Ellipse_6888" data-name="Ellipse 6888" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                     transform="translate(256.458 352.557)" fill="#2f2e41" />
                            <path id="Path_948" data-name="Path 948"
                                  d="M388.238,457.482C385,443,395.343,428.359,411.332,424.789s31.573,5.279,34.807,19.764-7.362,19.828-23.351,23.4S391.472,471.968,388.238,457.482Z"
                                  transform="translate(-176.723 -191.365)" fill="tomato" />
                            <ellipse id="Ellipse_6889" data-name="Ellipse 6889" cx="6.288" cy="20.029" rx="6.288" ry="20.029"
                                     transform="translate(184.463 281.881) rotate(-64.626)" fill="#2f2e41" />
                        </g>
                        <g id="worker-with-photo" class="animation-set">
                            <g id="worker-with-photo-hands" class="animation-loop">
                                <ellipse id="Ellipse_6903" data-name="Ellipse 6903" cx="6.288" cy="20.029" rx="6.288" ry="20.029"
                                         transform="matrix(0.934, -0.357, 0.357, 0.934, 631.003, 330.113)" fill="#2f2e41" />
                                <ellipse id="Ellipse_6908" data-name="Ellipse 6908" cx="20.029" cy="6.288" rx="20.029" ry="6.288"
                                         transform="translate(698.052 369.69) rotate(-53.55)" fill="#2f2e41" />
                            </g>
                            <circle id="Ellipse_6904" data-name="Ellipse 6904" cx="40.059" cy="40.059" r="40.059"
                                    transform="translate(626.728 352.079) rotate(-9.217)" fill="#2f2e41" />
                            <path id="Path_953" data-name="Path 953" d="M742.121,447.932H729.952l2.381,26.112,9.809-2.665Z"
                                  transform="translate(-51.182 -31.293)" fill="#2f2e41" />
                            <path id="Path_954" data-name="Path 954" d="M713.6,448.005h-12.17l2.381,26.112,9.367-2.733Z"
                                  transform="translate(-49.189 -31.298)" fill="#2f2e41" />
                            <ellipse id="Ellipse_6905" data-name="Ellipse 6905" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                     transform="translate(643.608 437.2) rotate(-4.182)" fill="#2f2e41" />
                            <circle id="Ellipse_6906" data-name="Ellipse 6906" cx="13.691" cy="13.691" r="13.691"
                                    transform="translate(657.981 361.368)" fill="#fff" />
                            <circle id="Ellipse_6907" data-name="Ellipse 6907" cx="4.564" cy="4.564" r="4.564"
                                    transform="translate(667.108 370.496)" fill="#3f3d56" />

                            <path id="Path_955" data-name="Path 955"
                                  d="M863.077,609.509c0-3.231,8.32-9.612,17.552-9.612s17.889,9.1,17.889,12.329-8.656-.627-17.889-.627S863.077,612.74,863.077,609.509Z"
                                  transform="translate(-209.937 -203.653)" fill="#fff" />
                            <g id="photo" class="animation-loop">
                                <path id="Path_956" data-name="Path 956"
                                      d="M987.969,535.822l-219.279-30.4a6.519,6.519,0,0,1-5.555-7.343l24.651-177.817a6.519,6.519,0,0,1,7.343-5.555l219.277,30.4a6.519,6.519,0,0,1,5.555,7.343L995.307,530.267a6.519,6.519,0,0,1-7.339,5.555Z"
                                      transform="translate(-202.95 -183.726)" fill="tomato" />
                                <path id="Path_957" data-name="Path 957"
                                      d="M911.963,485.152,800.017,469.634a2.3,2.3,0,0,1-.414-.091l65.659-84.37a3.743,3.743,0,0,1,6.453.895l27,66.47,1.294,3.181Z"
                                      transform="translate(-205.502 -188.55)" fill="#fff" />
                                <path id="Path_958" data-name="Path 958"
                                      d="M756.851,316.429l-38.221-5.3,22.541-24.652,1.623-1.776.811-.888L744.9,287Z"
                                      transform="translate(-50.391 -19.827)" opacity="0.2" />
                                <path id="Path_959" data-name="Path 959"
                                      d="M980.143,496.553,883.318,483.13l22.541-24.652,1.622-1.776,29.373-32.127a4.994,4.994,0,0,1,7.4.579,4.484,4.484,0,0,1,.291.488Z"
                                      transform="translate(-211.351 -191.309)" fill="#fff" />
                                <circle id="Ellipse_6909" data-name="Ellipse 6909" cx="16.743" cy="16.743" r="16.743"
                                        transform="translate(691.08 191.78)" fill="#fff" />
                                <rect id="Rectangle_230" data-name="Rectangle 230" width="20.463" height="20.463"
                                      transform="translate(595.917 144.653) rotate(7.893)" fill="#3f3d56" />
                            </g>
                            <path id="Path_960" data-name="Path 960"
                                  d="M921.473,545.458c3.235-14.486-7.1-29.123-23.094-32.693s-31.573,5.279-34.807,19.764,7.362,19.828,23.351,23.4S918.239,559.944,921.473,545.458Z"
                                  transform="translate(-209.931 -197.511)" fill="#f2f2f2" />

                            <ellipse id="Ellipse_6910" data-name="Ellipse 6910" cx="10.141" cy="3.803" rx="10.141" ry="3.803"
                                     transform="translate(670.295 437.136) rotate(-4.182)" fill="#2f2e41" />

                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</main>